<mat-toolbar color="primary">
  <i class="material-icons title-icon">{{icon}}</i>
  <span class="title-text">{{text}}</span>
  <button mat-button *ngIf="showBack" (click)="onBack()">
    <i class="material-icons">keyboard_backspace</i>
    <span class="button-text">Back</span>
  </button>
  <span class="spacer"></span>
  <button *ngIf="showLogout" (click)="onLogout()" mat-button>
    <i class="material-icons">exit_to_app</i>
    <span class="button-text">Logout</span>
  </button>
</mat-toolbar>
