<!--User form-->
<div *ngIf="sidenavSelection === 'user'">
  <app-user-form
    [title]="userFormTitle"
    [initialUser]="currentUser"
    (validUser)="onValidUser($event)"
    [passwordRequired]="false">
  </app-user-form>
  <div class="container-submit">
    <button
      mat-raised-button
      color="primary"
      (click)="onSubmitUser()"
      [disabled]="!userChanges">
      Submit
    </button>
  </div>
</div>
<!--Organization form-->
<div *ngIf="sidenavSelection === 'organization'">
  <app-organization-form
    [title]="organizationFormTitle"
    [initialOrganization]="currentOrganization"
    (validOrganization)="onValidOrganization($event)">
  </app-organization-form>
  <div class="container-submit">
    <button
      mat-raised-button
      color="primary"
      (click)="onSubmitOrganization()"
      [disabled]="!organizationChanges">
      Submit
    </button>
  </div>
</div>
<!--Volunteer data table-->
<div *ngIf="sidenavSelection === 'volunteers'">
  <app-data-table
    [data$]="volunteers$"
    [columnOptions]="volunteerTableOptions"
    [showDelete]="true"
    (deleteItem)="onDeleteVolunteer($event)">
  </app-data-table>
</div>
<!--Reports form-->
<div *ngIf="sidenavSelection == 'reports'">
  <app-reports-form
    (validReport)="onValidReport($event)">
  </app-reports-form>
  <div class="container-submit">
    <button mat-raised-button color="primary" [disabled]="!validReport" (click)="onSubmitReport()">Generate Report
    </button>
  </div>
</div>
<!--Roles data table-->
<div *ngIf="sidenavSelection == 'roles'">
  <app-data-table
    [data$]="users$"
    [columnOptions]="userTableOptions"
    [showDelete]="true"
    (deleteItem)="onDeleteUser($event)"
    (updateItem)="onUpdateUser($event)">
  </app-data-table>
</div>
