<!--User form-->
<div *ngIf="sidenavSelection === 'user'">
  <app-user-form
    [title]="userFormTitle"
    [initialUser]="initialUser"
    (validUser)="onValidUser($event)"
    [passwordRequired]="false">
  </app-user-form>
  <div class="container-submit">
    <button
      mat-raised-button
      color="primary"
      (click)="onSubmitUser(validUser, initialUser.id)"
      [disabled]="!validUser">
      Submit
    </button>
  </div>
</div>
<!--Organization form-->
<div *ngIf="sidenavSelection === 'organization'">
  <app-organization-form
    [title]="organizationFormTitle"
    [initialOrganization]="initialOrganization"
    (validOrganization)="onValidOrganization($event)">
  </app-organization-form>
  <div class="container-submit">
    <button
      mat-raised-button
      color="primary"
      (click)="onSubmitOrganization(validOrganization, initialOrganization.id)"
      [disabled]="!validOrganization">
      Submit
    </button>
  </div>
</div>
<!--Volunteer data table-->
<div *ngIf="sidenavSelection === 'volunteers'">
  <app-data-table
    [data$]="volunteers$"
    [columnOptions]="volunteerTableOptions"
    [showDelete]="true"
    (deleteItem)="onDeleteVolunteer($event)">
  </app-data-table>
</div>
<!--Reports form-->
<div *ngIf="sidenavSelection == 'reports'">
  <app-reports-form
    (validReport)="onValidReport($event)">
  </app-reports-form>
  <div class="container-submit">
    <button mat-raised-button color="primary" [disabled]="!validReport" (click)="onSubmitReport()">Generate Report</button>
  </div>
</div>
<div *ngIf="sidenavSelection == 'permissions'">

</div>
