<!--user form-->
<ng-template #user [ngIf]="sidenavSelection == 'User'">
  <app-user-form
    [title]="userFormTitle"
    (validUser)="setUser($event)">
  </app-user-form>
  <div class="container-button">
    <button mat-raised-button color="primary" (click)="onUserFormSubmit()" [disabled]="!validUser">Submit</button>
  </div>
</ng-template>
<!--organization form-->
<ng-template #organization [ngIf]="sidenavSelection == 'Organization'">
  <app-organization-form
    [title]="organizationFormTitle"
    (validOrganization)="setOrganization($event)">
  </app-organization-form>
  <div class="container-button">
    <button mat-raised-button color="primary" (click)="onOrganizationFormSubmit()" [disabled]="!validOrganization">Submit</button>
  </div>
</ng-template>
