.teams-list {
  display: grid;
  align-items: stretch;
  grid-row-gap: 1rem;

  max-width: 30rem;
  margin: 1rem auto 0;
  padding: 0 auto;
}

.header-buttons {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  justify-content: center;
  margin: auto 0;
}

.no-teams-text {
  color: darkgray;
}
