@import '~styles.scss';

.container {
  height: 100%;
}

mat-sidenav {
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

mat-sidenav-content {
  max-height: calc(100vh - #{$mat-toolbars-height-desktop});
}

.material-icons {
  padding-right: 0.5rem;
  color: mediumaquamarine;
}
