<mat-dialog-content class="container">
  <mat-form-field class="example-full-width" autocomplete="off">
    <input type="time" matInput [value]="endedAt" [(ngModel)]="endedAt">
  </mat-form-field>
  <mat-form-field class="example-full-width" autocomplete="off">
    <mat-select
      [value]="selectedSite.label"
      (selectionChange)="onSelectionChange($event.value)">
      <mat-option *ngFor="let site of organizationSites" [value]="site.label">
        {{site.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="close()" color="primary">
    Submit
  </button>
  <button mat-button (click)="dialogRef.close()">
    Cancel
  </button>
</div>
