<mat-dialog-content class="container">
  <h2 md-dialog-title>Edit Visit</h2>
  <!--endedAt-->
  <mat-form-field class="example-full-width" autocomplete="off">
    <mat-label>Checkout time</mat-label>
    <input [ngStyle]="{'color': color, 'font-weight': bold}" type="time" matInput [value]="endedAt" (click)="onTimeChange($event)">
  </mat-form-field>
  <!--site-->
  <mat-form-field class="example-full-width" autocomplete="off">
    <mat-select
      placeholder="Site"
      [value]="selectedSite.label"
      (selectionChange)="onSelectionChange($event.value)">
      <mat-option *ngFor="let site of organizationSites" [value]="site.label">
        {{site.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">
    Cancel
  </button>
  <button mat-button (click)="close()" color="primary" [disabled]="color === '#f44336'">
    Submit
  </button>
</div>
