.container {
  justify-content: center;
}

form {
  margin-top: 2rem;
}

mat-form-field {
  width: 15rem;
}

input {
  text-transform: capitalize;
}

.pets-container {
  margin-bottom: 1rem;
}

button {
  margin: 1rem;
}
