.container {
  display: grid;
  justify-content: center;
}

.container--pets {
  margin-bottom: 1rem;

  .pets-button {
    margin: 0 1rem;
  }
}

.container--buttons {
  grid-template-columns: auto auto;
}

form {
  margin-top: 2rem;
}

mat-form-field {
  width: 15rem;
}

input {
  text-transform: capitalize;
}

button {
  margin: 1rem;
}
