<form class="container"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput
           placeholder="Name"
           [matAutocomplete]="nameForm"
           formControlName="name">
  </mat-form-field>
  <mat-autocomplete #nameForm="matAutocomplete">
    <mat-option *ngFor="let name of volunteerNames" [value]="name">{{name}}</mat-option>
  </mat-autocomplete>
  <mat-radio-group *ngIf="showPetNameForm"
                   class="pets-container"
                   formControlName="petName">
    <mat-radio-button *ngFor="let volunteer of filteredVolunteers"
                      [value]="volunteer.petName"
                      (change)="onPetNameClick(volunteer.petName)">
      <i class="material-icons">pets</i> {{volunteer.petName}}
    </mat-radio-button>
  </mat-radio-group>
  <div *ngIf="activeVisit; then showCheckOut else showCheckIn"></div>
  <div>
    <ng-template #showCheckIn>
      <div *ngIf="!nameControl.invalid"
           [@sigTrigger]="signatureState">
        <app-signature-field formControlName="signatureField"></app-signature-field>
        <div>
          <button mat-raised-button color="accent" [disabled]="formGroup.invalid" (click)="clearSignature()">
            Clear
          </button>
          <button mat-raised-button color="primary" [disabled]="formGroup.invalid">
            Check In
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template #showCheckOut>
      <button mat-raised-button color="primary">Check Out</button>
    </ng-template>
  </div>
</form>
