<div class="container-center loose">
  <h1 *ngIf="showTitle">Please enter an organization name.</h1>
  <div class="container-center">
    <mat-form-field class="input-row">
      <div class="organization-name-input">
        <input matInput
               [matAutocomplete]="autocomplete"
               (input)="onOrganizationInputNameChanges(organizations, organizationName.value)"
               class="capitalize"
               placeholder="Organization name"
               #organizationName>
        <button *ngIf="showInputIconButton" mat-icon-button color="accent" [disabled]="!organizationName.value" (click)="emitInputIconButtonClick()">
          <mat-icon class="material-icons">forward</mat-icon>
        </button>
      </div>
    </mat-form-field>
    <mat-autocomplete>
      <mat-option
        (onSelectionChange)="onOrganizationInputNameChanges(organizations, organization.name)"
        (click)="onOrganizationInputNameChanges(organizations, organization.name)"
        *ngFor="let organization of filteredOrganizations"
        [value]="organization.name">{{organization.name}}
      </mat-option>
    </mat-autocomplete>
  </div>
</div>
