<form fxFlex
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="1rem"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()">
  <md-input-container fxFlex="0 1 auto">
    <input mdInput
           class="capitalize"
           placeholder="Name"
           [mdAutocomplete]="nameForm"
           formControlName="name">
  </md-input-container>
  <md-autocomplete #nameForm="mdAutocomplete">
    <md-option *ngFor="let name of filteredNames" [value]="name">{{name}}</md-option>
  </md-autocomplete>
  <md-radio-group *ngIf="showPetNameForm"
                  class="pets-container"
                  fxFlex="0 1 auto"
                  fxLayoutGap="1rem"
                  formControlName="petName">
    <md-radio-button *ngFor="let volunteer of filteredVolunteers" [value]="volunteer.petName">
      <i class="material-icons">pets</i> {{volunteer.petName}}
    </md-radio-button>
  </md-radio-group>
  <div *ngIf="!!activeVisitForVolunteer; then showCheckOut else showCheckIn"></div>
  <div fxFlex="0 1 auto">
    <ng-template #showCheckIn>
      <div *ngIf="!!selectedVolunteer"
           fxFlex
           fxLayout="column"
           fxLayoutAlign="center center"
           fxLayoutGap="2rem"
           [@sigTrigger]="signatureState">
        <app-signature-field class="signature-container" fxFlex formControlName="signatureField"></app-signature-field>
        <div fxFlex>
          <button md-raised-button color="accent" [disabled]="formGroup.invalid" (click)="clearSignature()">Clear</button>
          <button md-raised-button color="primary" [disabled]="formGroup.invalid">Check In</button>
        </div>
      </div>
    </ng-template>
    <ng-template #showCheckOut>
      <button md-raised-button color="primary">Check Out</button>
    </ng-template>
  </div>
</form>

