<mat-toolbar color="primary">
  <button *ngIf="showSidenavToggle" class="show-xs" mat-icon-button (click)="onSidenavToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <i class="material-icons title-icon hide-xs">{{icon}}</i>
  <span class="title-text">{{title}}</span>
  <div *ngIf="showBack">
    <button mat-button class="hide-xs" (click)="onBack()">
      <i class="material-icons">keyboard_backspace</i> Back
    </button>
    <button mat-icon-button class="show-xs" (click)="onBack()">
      <i class="material-icons">keyboard_backspace</i>
    </button>
  </div>
  <span class="spacer"></span>
  <div *ngIf="showSettings">
    <button mat-button class="hide-xs" (click)="onSettings()">
      <i class="material-icons">settings</i> Settings
    </button>
    <button mat-icon-button class="show-xs" (click)="onSettings()">
      <i class="material-icons">settings</i>
    </button>
  </div>
  <div *ngIf="showLogOut">
    <button mat-button class="hide-xs" (click)="onLogOut()">
      <i class="material-icons">exit_to_app</i> Log out
    </button>
    <button mat-icon-button class="show-xs" (click)="onLogOut()">
      <i class="material-icons">exit_to_app</i>
    </button>
  </div>
</mat-toolbar>
