.field-container {

  input {
    text-transform: capitalize;
  }
}

.pets-container {
  margin-bottom: 1rem;

  mat-radio-button {
    margin: 0 1rem;
  }
}

.actions-container {
  grid-template-columns: auto auto;
}

button {
  margin: 1rem;
}
