<form
  class="container-center loose"
  [formGroup]="formGroup"
  (ngSubmit)="submit()"
>
  <div class="container-center">
    <h2>{{title}}</h2>
  </div>
  <div class="container-center field-container">
    <mat-form-field class="input-row">
      <input
        #nameInput
        matInput
        placeholder="Search by name"
        [matAutocomplete]="autocomplete"
        formControlName="name"
      >
    </mat-form-field>
    <mat-autocomplete (optionSelected)="onNameSelected($event)">
      <mat-optgroup [label]="'Please select your name below.'">
        <mat-option
          *ngFor="let name of autocompleteNames"
          [value]="name"
        >
          {{name}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </div>
  <!--Show the pet name selection if multiple volunteers have the same name-->
  <div
    *ngIf="petNameIsRequired"
    class="pets-container container-center"
    [@fadeInTrigger]="fadeInState"
  >
    <mat-radio-group
      formControlName="petName"
      (change)="onPetNameSelected($event)"
    >
      <mat-radio-button
        *ngFor="let volunteer of matches"
        [value]="volunteer"
      >
        <i class="material-icons">pets</i> {{volunteer.petName}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <!--Show the next maxVisitedStep when a volunteer has been selected-->
  <ng-container *ngIf="selectedVolunteer">
    <!--If volunteer has been selected, show the signature and button group-->
    <ng-container *ngIf="!activeVisit; else checkOut">
      <div class="container-center" [@fadeInTrigger]="fadeInState">
        <app-signature-field formControlName="signature"></app-signature-field>
      </div>
      <div class="container-center actions-container" [@fadeInTrigger]="fadeInState">
        <button
          mat-raised-button
          color="accent"
          [disabled]="formGroup.invalid"
          (click)="clearSignature()"
        >
          Clear
        </button>
        <button
          matStepperNext
          mat-raised-button
          color="primary"
          [disabled]="formGroup.invalid"
        >
          Check in
        </button>
      </div>
    </ng-container>
    <!--Show the check out button if there is currently an active visit-->
    <ng-template #checkOut>
      <div class="container-center check-out-container" [@fadeInTrigger]="fadeInState">
        <button
          matStepperNext
          mat-raised-button
          color="primary"
        >
          Check out
        </button>
      </div>
    </ng-template>
  </ng-container>
</form>
