<div fxFlex fxLayout="column" fxLayoutAlign="start center">
  <h1 class="container" fxFlex="0 1 auto">Please confirm your details.</h1>
  <div fxFlex fxLayout="row" fxLayout.xs="column">
    <mat-list class="container column" *ngIf="organization">
      <h1 matSubheader>Organization</h1>
      <mat-list-item>
        <mat-icon mat-list-icon>business</mat-icon>
        <h3 matLine>{{organization.name}}</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>language</mat-icon>
        <h3 matLine>{{organization.website}}</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>sort</mat-icon>
        <h3 matLine>{{organization.description}}</h3>
      </mat-list-item>
    </mat-list>
    <mat-list class="container column" *ngIf="user">
      <h1 matSubheader>User</h1>
      <mat-list-item>
        <mat-icon mat-list-icon>perm_identity</mat-icon>
        <h3 matLine>{{user.firstName}} {{user.lastName}}</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>mail_outline</mat-icon>
        <h3 matLine>{{user.email}}</h3>
      </mat-list-item>
    </mat-list>
  </div>
</div>
