<h1 class="text-container" fxFlex="0 1 auto">Please confirm your details.</h1>
<div fxFlex fxLayout="row" fxLayout.xs="column">
  <div fxFlex fxLayout="column" *ngIf="organization">
    <h2 md-subheader>Organization</h2>
    <md-list-item>
      <h3 md-line>{{organization.name}}</h3>
    </md-list-item>
    <md-list-item>
      <h3 md-line>{{organization.website}}</h3>
    </md-list-item>
    <md-list-item>
      <h4 md-line>{{organization.description}}</h4>
    </md-list-item>
  </div>
  <div fxFlex fxLayout="column" *ngIf="user">
    <h2 md-subheader>User</h2>
    <md-list-item>
      <h3 md-line>{{user.firstName}} {{user.lastName}}</h3>
    </md-list-item>
    <md-list-item>
      <h3 md-line>{{user.email}}</h3>
    </md-list-item>
  </div>
</div>
