<form fxFlex="0 1 auto"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="1rem"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()">
  <h1 fxFlex="0 1 auto">Create an account to access your organization.</h1>
  <md-form-field fxFlex="0 1 auto">
    <input mdInput placeholder="Username">
  </md-form-field>
  <md-form-field fxFlex="0 1 auto">
    <input type="email" mdInput placeholder="Email">
  </md-form-field>
  <md-form-field fxFlex="0 1 auto">
    <input type="password" mdInput placeholder="Password">
  </md-form-field>
</form>
