<div fxLayout="column"
     fxLayoutAlign="start center">
  <h1 class="container">Welcome to Cerberus. Let's get started.</h1>
  <div class="container icons-container"
       fxFlex="0 1 auto"
       fxLayout="row"
       fxLayout.xs="column"
       fxLayoutGap="8rem"
       fxLayoutGap.xs="3rem">
    <div fxFlex="0 1 auto" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center center">
      <md-icon class="material-icons">touch_app</md-icon>
      <h1>Collect</h1>
    </div>
    <div fxFlex="0 1 auto" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center center">
      <md-icon class="material-icons">timeline</md-icon>
      <h1>Display</h1>
    </div>
    <div fxFlex="0 1 auto" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center center">
      <md-icon class="material-icons">supervisor_account</md-icon>
      <h1>Manage</h1>
    </div>
  </div>
  <h2 class="container">
    Cerberus allows volunteers to sign in and out digitally and collects real-time data. This data is displayed through meaningful graphics to help volunteers better manage their time.
  </h2>
</div>
