/* Makes host element a flex container */
:host {
  display: flex;
  flex: 1;
}

.container {
  height:auto;
}

.overflow-container {
  overflow-y: auto;
}

.icons-container {
  height: auto;
  width: auto;
}

md-icon {
  margin: 1rem;
  height: 10vw;
  width: 10vw;
  font-size: 10vw;
  color: gray;
}

.text-container {
  height: auto;
  width: auto;
  max-width: 60rem;
  line-height: 2.2rem;
}
