<div fxFlex fxLayout="column">
  <div fxFlex
       fxLayout="row"
       fxLayout.xs="column"
       fxLayoutAlign="center center"
       fxLayoutGap="5rem"
       fxLayoutGap.xs="0">
    <div fxFlex fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center center">
      <md-icon class="material-icons">touch_app</md-icon>
      <h1>Collect</h1>
    </div>
    <div fxFlex fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center center">
      <md-icon class="material-icons">timeline</md-icon>
      <h1>Display</h1>
    </div>
    <div fxFlex fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center center">
      <md-icon class="material-icons">supervisor_account</md-icon>
      <h1>Manage</h1>
    </div>
  </div>
  <div fxFlex="0.3 1 auto" fxLayout="row">
    <h2 fxFlex>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a
      leo euismod, commodo nulla at, fringilla nunc.
      Curabitur aliquam metus eu feugiat ullamcorper.</h2>
  </div>
</div>
