@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Makes host element a flex container */
:host {
  display: flex;
  flex: 1;
}

md-icon {
  margin: 1rem;
  height: 15vw;
  width: 15vw;
  font-size: 15vw;
  color: gray;
}

h2 {
  margin: 2rem;
}
