<form class="container-center loose" [formGroup]="formGroup" (ngSubmit)="submit()">
  <h2>Sign up here for your first visit.</h2>
  <div class="container-center">
    <mat-list>
      <mat-list-item *ngFor="let form of forms">
        <mat-form-field>
          <input class="capitalize" matInput formControlName={{form.control}} placeholder={{form.placeholder}}>
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </div>
  <h4 class="container-center">
    <mat-checkbox (change)="setPolicyCheckBox($event)">I agree to the Terms of Service.</mat-checkbox>
  </h4>
  <div class="container-center">
    <button type="submit" matStepperNext mat-raised-button color="primary" [disabled]="formGroup.invalid || !isPolicyChecked">Submit</button>
  </div>
</form>
