@import '~@angular/material/_theming.scss';

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 64px auto 64px;

  @media only screen and ($mat-xsmall) {
    grid-template-rows: 56px auto 56px;
  }
}
