<mat-dialog-content class="container">
  <mat-form-field class="example-full-width" autocomplete="off">
    <input autocomplete="off" matInput placeholder="Site label" [(ngModel)]="label">
  </mat-form-field>
  <mat-form-field class="example-full-width" autocomplete="off">
    <input autocomplete="off" matInput placeholder="Site description" [(ngModel)]="description">
  </mat-form-field>
  <mat-form-field class="example-full-width" autocomplete="off">
    <input autocomplete="off" matInput placeholder="Address" [(ngModel)]="address">
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="close()" color="primary">
    Submit
  </button>
  <button mat-button (click)="dialogRef.close()">
    Cancel
  </button>
</div>
