<div fxFlex fxLayout="column">
  <mat-table fxFlex #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container cdkColumnDef="date">
      <mat-header-cell *cdkHeaderCellDef> Date</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{formatDate(row.startedAt, row.timezone)}}</mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container cdkColumnDef="startedAt">
      <mat-header-cell *cdkHeaderCellDef> Start</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{formatTime(row.startedAt, row.timezone)}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="endedAt">
      <mat-header-cell *cdkHeaderCellDef> End</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{formatTime(row.endedAt, row.timezone)}}</mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container cdkColumnDef="duration">
      <mat-header-cell *cdkHeaderCellDef> Duration</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{formatDuration(row)}}</mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- Spacer to keep paginator in bottom -->
  <div fxFlex="10 1 auto"></div>
  <mat-paginator fxFlex #paginator
                [length]="dataSource.visits.length"
                [pageIndex]="0"
                [pageSize]="initialPageSize"
                [pageSizeOptions]="[initialPageSize, 25, 50, 100]">
  </mat-paginator>
</div>
