<form class="container-center loose" [formGroup]="formGroup">
  <h1>Create an account to access your organization.</h1>
  <div class="container-center">
    <div class="inline input-row">
      <mat-form-field>
        <input matInput class="capitalize" placeholder="First name" formControlName="firstName">
      </mat-form-field>
      <mat-form-field>
        <input matInput class="capitalize" placeholder="Last name" formControlName="lastName">
      </mat-form-field>
    </div>
  </div>
  <div class="container-center">
    <mat-form-field class="input-row">
      <input type="email" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
  </div>
  <div class="container-center">
    <mat-form-field class="input-row">
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </div>
</form>
