<div>
  <h2 class="login-header">Login to view your teams.</h2>
  <div class="grid grid--center grid--row-gap">
    <form class="form-container" autocomplete="off" nonvalidate [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field class="form-container">
        <input matInput type="email" placeholder='email' formControlName='email'>
      </mat-form-field>
      <mat-form-field class="form-container">
        <input matInput type="password" placeholder='password' formControlName='password'>
      </mat-form-field>
      <div class="grid grid--center">
        <button mat-raised-button class="form-container" id="submit-btn" color="primary" [disabled]="loginForm.invalid">Submit</button>
      </div>
      <div class="grid grid--center">
        <span class="forgot-pwd" (click)="onForgotPassword()">Forgot password?</span>
      </div>
    </form>
  </div>

</div>
