<div class="container">
  <app-volunteer-menu>
  </app-volunteer-menu>
  <app-data-display></app-data-display>
</div>
<!--<div fxFlex-->
     <!--fxLayout="row"-->
     <!--fxLayout.sm="column"-->
     <!--fxLayout.xs="column">-->
  <!--<app-volunteer-menu fxFlex="20%"-->
                      <!--fxFlex.sm="6rem"-->
                      <!--fxFlex.xs="4rem"-->
                      <!--fxLayout="column">-->
  <!--</app-volunteer-menu>-->
  <!--<app-data-display fxFlex fxLayout="column"></app-data-display>-->
<!--</div>-->
