@import '~@angular/material/_theming.scss';

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 20% auto;

  @media only screen and ($mat-small) {
    grid-template-columns: auto;
    grid-template-rows: 4rem auto;
  }
}
