<form class="container-center loose header-spacing" [formGroup]="formGroup" autocomplete="off">
  <h1>{{title}}</h1>
  <div class="container-center container-inline">
    <mat-form-field>
      <input matInput class="capitalize" placeholder="First name" formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput class="capitalize" placeholder="Last name" formControlName="lastName">
    </mat-form-field>
  </div>
  <div class="container-center">
    <mat-form-field class="input-row">
      <input type="email" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
  </div>
  <h4 *ngIf="!passwordRequired">Optionally change your password here:</h4>
  <div class="container-center">
    <mat-form-field class="input-row">
      <input [type]="hidePwd ? 'password' : 'text'" type="password" matInput placeholder="Password"
             formControlName="password">
      <mat-icon matSuffix (click)="hidePwd = !hidePwd">{{hidePwd ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
  </div>
  <div class="container-center">
    <mat-form-field class="input-row">
      <input autocomplete="off" [type]="hideConfirmPwd ? 'password' : 'text'" type="password" matInput
             placeholder="Confirm Password" formControlName="confirmPassword">
      <mat-icon matSuffix (click)="hideConfirmPwd = !hideConfirmPwd">{{hideConfirmPwd ? 'visibility' :
        'visibility_off'}}
      </mat-icon>
    </mat-form-field>
  </div>
</form>
