<div class="center">
  <form *ngIf="location =='/check-in'">
    <md-input-container>
      <input mdInput placeholder="Name" [mdAutocomplete]="auto" [formControl]="nameCtrl">
    </md-input-container>
    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let name of filteredNames | async" [value]="name">
        {{ name }} <i class="material-icons">pets</i> 
      </md-option>
    </md-autocomplete>  
    <div class="center">
      <button type="submit" id="submitBtn" md-button color="primary">Submit</button>
    </div>
    <div class="center">
      <a [routerLink]="['/sign-up']">
        <sup>Sign up?</sup>
      </a>
    </div>
  </form>
  <router-outlet *ngIf="location =='/sign-up'"></router-outlet>
</div>
