<div class="container-center header-spacing">
  <mat-card>
    <mat-tab-group>
      <mat-tab label="Login">
        <app-login></app-login>
      </mat-tab>
      <mat-tab label="Live Data">
        <div class="container-center loose center-text">
          <h2>Enter the organization name to see live volunteering data.</h2>
          <div class="container-inline loose">
            <app-find-organization
              [showTitle]="false"
              [showInputIconButton]="true"
              (iconButtonClick)="onInputIconButtonClick(organizationName)"
              (validInput)="onValidInput($event)">
            </app-find-organization>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
<div class="container-center loose container-inline home-buttons">
  <button mat-button (click)="onNewOrganization()">New Organization?</button>
  <button mat-button (click)="onJoinOrganization()">Join Existing Organization?</button>
</div>
