@import '../../../../../node_modules/@angular/material/theming';
@import '~styles.scss';

.grid {
  height: 100%;
}

.graph {
  max-height: calc(99.9vh - #{$mat-toolbar-height-desktop} - #{$mat-tab-bar-height});
  max-width: 100%;

  @media ($mat-xsmall) {
    max-height: inherit;
  }
}
