<form fxLayout="column" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <md-input-container fxFlexAlign="center">
    <input class="capitalize" mdInput placeholder="Name" [mdAutocomplete]="nameForm" formControlName="name">
  </md-input-container>
  <md-autocomplete fxFlexAlign="center" #nameForm="mdAutocomplete">
    <md-option *ngFor="let volunteer of filteredVolunteers" [value]="formatName(volunteer)">
      {{volunteer.firstName}} {{volunteer.lastName}}
    </md-option>
  </md-autocomplete>
  <md-input-container fxFlexAlign="center" *ngIf="showPetNameForm">
    <input class="capitalize" mdInput placeholder="Favorite Pet" [mdAutocomplete]="petNameForm" formControlName="petName">
  </md-input-container>
  <md-autocomplete fxFlexAlign="center" #petNameForm="mdAutocomplete">
    <md-option *ngFor="let volunteer of filteredVolunteersByPetName" [value]="volunteer.petName">
      <i class="material-icons">pets</i> {{volunteer.petName}}
    </md-option>
  </md-autocomplete>
  <div *ngIf="activeVisitForVolunteer === null || activeVisitForVolunteer === undefined; then showCheckIn else showCheckOut"></div>
  <ng-template #showCheckIn>
    <!--signature-->
    <div *ngIf="selectedVolunteer !== undefined">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="sig-container">
          <app-signature-field formControlName="signatureField"></app-signature-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button md-button type="button" (click)="clearSigPad()" [disabled]="formGroup.invalid">Clear</button>
      </div>
    </div>
    <!--end signature-->
    <button md-button color="primary" fxFlexAlign="center" [disabled]="formGroup.invalid">Check In</button>
  </ng-template>
  <ng-template #showCheckOut>
    <button md-button color="primary" fxFlexAlign="center">Check Out</button>
  </ng-template>
</form>

