.name-container {
  .name-container__form-field {
    width: 15rem;

    .name-container__input {
      text-transform: capitalize;
    }
  }
}

.actions-container {
  display: grid;
  grid-template-columns: auto auto;
}
