<div [ngSwitch]="inputType">
  <mat-select
    *ngSwitchCase="'SELECT'"
    [value]="selected"
    (selectionChange)="onSelectionChange($event.value)">
    <mat-option *ngFor="let selectOption of selectOptions" [value]="selectOption">
      {{selectOption}}
    </mat-option>
  </mat-select>
  <input matInput *ngSwitchCase="'TIME_PICKER'" [value]="getTime(column.cell(row))" type="time" (click)="onTimeChange($event)">
  <ng-template ngSwitchDefault>
    {{column.cell(row)}}
  </ng-template>
</div>
