/* Makes host element a flex container */
:host {
  display: flex;
  flex: 1;
}

form {
  margin-top: 2rem;
}

md-input-container {
  width: 15rem;
}

input {
  text-transform: capitalize;
}

.pets-container {
  margin-bottom: 1rem;
}

.signature-container {
  max-height: 200px;
  max-width: 100vw;
  border-style: dashed;
  border-width: .07rem;
}

button {
  margin: 1rem;
}
