<form fxFlex
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="1rem"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()">
  <mat-form-field fxFlex="0 1 auto">
    <input matInput
           placeholder="Name"
           [matAutocomplete]="nameForm"
           formControlName="name">
  </mat-form-field>
  <mat-autocomplete #nameForm="matAutocomplete">
    <mat-option *ngFor="let name of volunteerNames" [value]="name">{{name}}</mat-option>
  </mat-autocomplete>
  <mat-radio-group *ngIf="showPetNameForm"
                  class="pets-container"
                  fxFlex="0 1 auto"
                  fxLayoutGap="1rem"
                  formControlName="petName">
    <mat-radio-button *ngFor="let volunteer of (volunteers$ | async)?.filtered"
                     [value]="volunteer.petName"
                     (change)="onPetNameClick(volunteer.petName)">
      <i class="material-icons">pets</i> {{volunteer.petName}}
    </mat-radio-button>
  </mat-radio-group>
  <div *ngIf="activeVisit; then showCheckOut else showCheckIn"></div>
  <div fxFlex="0 1 auto">
    <ng-template #showCheckIn>
      <div *ngIf="!nameControl.invalid"
           fxFlex
           fxLayout="column"
           fxLayoutAlign="center center"
           fxLayoutGap="2rem"
           [@sigTrigger]="signatureState">
        <app-signature-field class="signature-container" fxFlex formControlName="signatureField"></app-signature-field>
        <div fxFlex>
          <button mat-raised-button color="accent" [disabled]="formGroup.invalid" (click)="clearSignature()">Clear</button>
          <button mat-raised-button color="primary" [disabled]="formGroup.invalid">Check In</button>
        </div>
      </div>
    </ng-template>
    <ng-template #showCheckOut>
      <button mat-raised-button color="primary">Check Out</button>
    </ng-template>
  </div>
</form>

