<div class="center">
  <form [formGroup]="signUpForm" nonvalidate (ngSubmit)="addVolunteer()">
    <md-list>
      <md-list-item *ngFor="let field of form">
        <md-input-container> 
          <input mdInput placeholder={{field.placeholder}} class="form-control" formControlName={{field.control}} required>
        </md-input-container>
      </md-list-item>
    </md-list>  
    <div class="center">
      <button type="submit" id="submitBtn" md-button color="primary">Submit</button>
    </div>
  </form>
</div>