<div class="container">
  <app-loader *ngIf="isLoggedIn && !(modelIsLoaded$ | async)" [text]="'Loading something cool... 😎'"></app-loader>
  <app-header
    *ngIf="(layoutState$ | async)?.headerOptions"
    class="hg__header"
    [headerOptions]="(layoutState$ | async)?.headerOptions"
    [showLogOut]="isLoggedIn"
    [showSidenavToggle]="!!(layoutState$ | async)?.sidenavOptions"
    (buttonClick)="onButtonClick($event)">
  </app-header>
  <app-sidenav
    class="hg__main"
    [sidenavOptions]="(layoutState$ | async)?.sidenavOptions"
    (selectOption)="onSelectIndex($event)">
    <router-outlet></router-outlet>
  </app-sidenav>
</div>
