@import '~@angular/material/_theming.scss';

.container {
  height: 100%;
}

.graph {
  max-height: calc(99.9vh - 128px - 48px);
  max-width: 100%;

  @media only screen and ($mat-small) {
    max-height: calc(99.9vh - 128px - 48px - 84px);
  }

  @media only screen and ($mat-xsmall) {
    max-height: calc(99.9vh - 112px - 48px - 84px);
  }
}
