@import '~styles.scss';

.container-with-header {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-rows: $mat-tab-bar-height auto $mat-paginator-height;

  .cdk-column-delete {
    max-width: 2.5rem;
  }
}

.container-without-header {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-rows: auto $mat-paginator-height;

  .cdk-column-delete {
    max-width: 2.5rem;
  }
}

.container-header {
  display: flex;
  background-color: whitesmoke;
  border-bottom-style: solid;
  border-bottom-width: .5px;
  border-bottom-color: rgba(0,0,0,.12);
}

.container-header__button {
  height: 70%;
}
