<div class="container">
  <mat-table #table [dataSource]="dataSource">
    <!--Column headers-->
    <ng-container *ngFor="let column of columnOptions" [cdkColumnDef]="column.columnDef">
      <mat-header-cell *cdkHeaderCellDef>{{column.header}}</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <app-data-cell [column]="column" [row]="row"></app-data-cell>
      </mat-cell>
    </ng-container>
    <!--Actions-->
    <ng-container *ngIf="showActions" cdkColumnDef="actions" class="cdk-column-actions">
      <mat-header-cell *cdkHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <button
          *ngIf="showEdit"
          mat-icon-button
          color="accent"
          [disabled]="disableEdit(row)"
          (click)="onClickEdit(row)"
        >
          <mat-icon aria-label="Edit this entry">mode_edit</mat-icon>
        </button>
        <button
          *ngIf="showRemove"
          mat-icon-button
          color="accent"
          [disabled]="disableEdit(row)"
          (click)="onClickRemove(row)"
        >
          <mat-icon aria-label="Delete this entry">delete_forever</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <!--Data rows-->
    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngStyle]="{'background-color' : rowColor(row)}">
    </mat-row>
  </mat-table>
  <mat-paginator
    #paginator
    [length]="dataLength"
    [pageIndex]="0"
    [pageSize]="initialPageSize"
    [pageSizeOptions]="[initialPageSize, 25, 50, 100]"
  >
  </mat-paginator>
</div>
