<div class="container">
  <mat-table #table [dataSource]="dataSource">
    <!--Table with no delete option-->
    <ng-container *ngFor="let column of columnOptions" [cdkColumnDef]="column.columnDef">
      <mat-header-cell *cdkHeaderCellDef>{{column.header}}
        <button mat-button [disabled]="itemsEdited.length === 0 || invalidItemsEdited.length !== 0" *ngIf="displayUpdateButton(column.columnDef, displayedColumns, isEditable)" color="accent" class="update-button" (click)="onUpdateItems(itemsEdited)">Save</button>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <app-data-cell
          [column]="column"
          [row]="row"
          [color]="getCellFontColor(row)"
          [isBold]="getCellFontWeight(row)"
          (selectOption)="onSelectOption($event, row, column.columnDef)"
          (selectedTime)="onSelectTime($event, row, column)">
        </app-data-cell>
      </mat-cell>
    </ng-container>
    <!--Table with delete option-->
    <ng-container *ngIf="showDelete" cdkColumnDef="delete">
      <mat-header-cell *cdkHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <button mat-icon-button color="warn" (click)="onClickDelete(row)">
          <mat-icon aria-label="Delete this entry">delete_forever</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <!--Columns and rows-->
    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngStyle]="{'background-color' : getRowColor(row)}"></mat-row>
  </mat-table>
  <mat-paginator
    #paginator
    [length]="dataLength"
    [pageIndex]="0"
    [pageSize]="initialPageSize"
    [pageSizeOptions]="[initialPageSize, 25, 50, 100]">
  </mat-paginator>
</div>
