@import '~styles.scss';

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-rows: auto $mat-paginator-height;

  .cdk-column-delete {
    max-width: 2.5rem;
  }
}

.update-button {
  margin-left: calc(100vh - 85vh)
}
