<mat-toolbar *ngIf="(headerState$ | async)?.options" color="primary">
  <button
    *ngIf="(headerState$ | async)?.options.previousUrl"
    id="back-button"
    mat-icon-button
    (click)="onBack()"
  >
    <i class="material-icons">keyboard_backspace</i>
  </button>
  <button
    *ngIf="(headerState$ | async)?.showToggleSidenav"
    id="toggle-sidenav-button"
    mat-icon-button
    (click)="onToggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title-text">{{(headerState$ | async)?.options.title}}</span>
  <span class="spacer"></span>
  <button
    *ngIf="(headerState$ | async)?.options.showSettings"
    id="settings-button"
    mat-icon-button
    (click)="onSettings()"
  >
    <i class="material-icons">settings</i>
  </button>
  <button
    *ngIf="(headerState$ | async)?.showLogOut"
    id="log-out-button"
    mat-icon-button
    (click)="onLogOut()"
  >
    <i class="material-icons">exit_to_app</i>
  </button>
</mat-toolbar>
