<div class="container-center loose" [formGroup]="formGroup">
  <!--dates-->
  <div class="container inline">
    <mat-form-field>
      <input matInput [matDatepicker]="startPicker" placeholder="Start Date" formControlName="start">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="endPicker" placeholder="End Date" formControlName="end">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </div>
  <!--checkboxes-->
  <div class="container inline">
    <mat-radio-group formControlName="period">
      <mat-radio-button class="radioBoxes" *ngFor="let period of periods"  value={{period}}>{{period}}</mat-radio-button>
    </mat-radio-group>
  </div>
  <!--report options-->
  <div *ngFor="let reportOption of reportOptions">
    <mat-slide-toggle (change)="setReportOption($event, reportOption)">{{reportOption}}</mat-slide-toggle>
  </div>
</div>
