@import '~@angular/material/_theming.scss';
@import '~styles.scss';

.container {
  height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-rows: $mat-toolbar-height-desktop 100vh $mat-toolbar-height-desktop;

  @media ($mat-xsmall) {
    grid-template-rows: $mat-toolbar-height-mobile 100vh $mat-toolbar-height-mobile;
  }
}
