<div class="container">
  <app-header
    *ngIf="headerOptions"
    [icon]="headerOptions.icon"
    [text]="headerOptions.title"
    [showBack]="!!headerOptions.previousUrl"
    [showSettings]="!!headerOptions.showSettings"
    [showLogOut]="isLoggedIn"
    [showSidenavToggle]="!!sidenavOptions"
    (buttonClick)="onButtonClick($event)">
  </app-header>
  <app-sidenav
    [options]="sidenavOptions"
    (selectIndex)="onSelectIndex($event)">
    <router-outlet></router-outlet>
  </app-sidenav>
  <app-footer class="hide-xs"></app-footer>
</div>
