<div class="container">
  <app-loader *ngIf="state.isLoading" [value]="true"></app-loader>
  <app-header
    *ngIf="state.headerOptions"
    class="hg__header"
    [headerOptions]="state.headerOptions"
    [showLogOut]="isLoggedIn"
    [showSidenavToggle]="!!state.sidenavOptions"
    (buttonClick)="onButtonClick($event)">
  </app-header>
  <app-sidenav
    class="hg__main"
    [sidenavOptions]="state.sidenavOptions"
    (selectIndex)="onSelectIndex($event)">
    <router-outlet></router-outlet>
  </app-sidenav>
</div>
