.container-icons {
  display: flex;
  flex-wrap: wrap;
}

mat-icon {
  height: 10rem;
  width: 16rem;
  font-size: 10rem;
  color: mediumaquamarine;
}

h2 {
  margin: 1rem;
  max-width: 60rem;
  line-height: 2.2rem;
}
