<div class="container-center loose">
  <h1 *ngIf="showTitle">Please enter an team name.</h1>
  <div class="container-center">
    <mat-form-field class="input-row">
      <div class="team-name-input">
        <input
          matInput
          [matAutocomplete]="autocomplete"
          (input)="onTeamInputNameChanges(teams, teamName.value)"
          class="capitalize"
          placeholder="Team name"
          #teamName
        >
        <button *ngIf="showInputIconButton" mat-icon-button color="accent" [disabled]="disableIconButton"
                (click)="onIconButtonClick()">
          <mat-icon class="material-icons">forward</mat-icon>
        </button>
      </div>
    </mat-form-field>
    <mat-autocomplete>
      <mat-option
        (onSelectionChange)="onTeamInputNameChanges(teams, team.name)"
        (click)="onTeamInputNameChanges(teams, team.name)"
        *ngFor="let team of filteredTeams"
        [value]="team.name">{{team.name}}
      </mat-option>
    </mat-autocomplete>
  </div>
</div>
