@import '../../../../../node_modules/@angular/material/theming';
@import '~styles.scss';

.grid {
  height: 100%;
}

mat-sidenav {
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

// Allows for vertical scrolling when page content overflows below footer
mat-sidenav-content {
  max-height: calc(100vh - #{$mat-toolbar-height-desktop});

  @media ($mat-xsmall) {
    max-height: calc(100vh - #{$mat-toolbar-height-mobile});
  }
}

.material-icons {
  padding-right: 0.5rem;
  color: mediumaquamarine;
}
