<mat-horizontal-stepper #stepper>
  <!--validMember form-->
  <mat-step>
    <div class="container-center loose">
      <app-user-form
        [title]="userFormTitle"
        (validChanges)="onValidMember($event)"
        [passwordRequired]="true">
      </app-user-form>
    </div>
    <div class="container-submit">
      <button mat-raised-button color="primary" [disabled]="!validMember" (click)="onNext(1)">Next</button>
    </div>
  </mat-step>
  <!--find validOrganization-->
  <mat-step>
    <div class="container-center loose">
      <app-find-organization
        [showTitle]="true"
        [showInputIconButton]="false"
        (validInput)="onValidInput($event)">
      </app-find-organization>
    </div>
    <div class="container-submit">
      <button mat-raised-button
              type="button"
              color="primary"
              [disabled]="!validMember || !validInput"
              (click)="onNext(2)">Next
      </button>
    </div>
  </mat-step>
  <!--services agreement-->
  <mat-step>
    <div class="container-center loose">
      <app-services-agreement [showTitle]="true"></app-services-agreement>
    </div>
    <div class="container-center actions-container">
      <mat-checkbox (change)="onCheck($event)">
        <div>By checking this box I agree to Services Agreement.</div>
      </mat-checkbox>
    </div>
    <div class="container-submit">
      <button mat-raised-button
              type="button"
              color="primary"
              [disabled]="!validMember || !validInput || !isTosChecked"
              (click)="onJoinOrganization($event)">Request to Join
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
