<app-user-form
  [title]="userFormTitle"
  (validUser)="onValidUser($event)"
  [passwordRequired]="true">
</app-user-form>
<div class="container-center">
  <mat-form-field class="input-row">
    <input matInput [matAutocomplete]="autocomplete"
           (input)="onOrganizationInputNameChanges(organizations, organizationName.value)"
           class="capitalize" placeholder="Organization name" #organizationName>
  </mat-form-field>
  <mat-autocomplete>
    <mat-option *ngFor="let organization of filteredOrganizations" [value]="organization.name">{{organization.name}}</mat-option>
  </mat-autocomplete>
</div>
<div class="container-submit">
  <button mat-raised-button type="button" color="primary" [disabled]="!validUser || !organizationName.value" (click)="onJoinOrganization(organizationName.value)">Request to Join</button>
</div>
