<form class="container-center loose" [formGroup]="formGroup">
    <mat-card class="card-terms">
      <iframe width="900px" style="height: 95vh" src="https://app.termly.io/document/terms-of-use-for-website/bf514bf4-f102-46da-9da9-dfc8fe925ffc" frameborder="0" allowfullscreen>
        <p>Your browser does not support iframes.</p>
      </iframe>
    </mat-card>
    <div class="container-center actions-container">
      <button mat-raised-button color="accent" [disabled]="formGroup.invalid" (click)="clearSignature()">
        Clear
      </button>
      <button mat-raised-button color="primary" [disabled]="formGroup.invalid">
        I agree to the terms of service
      </button>
    </div>
</form>
