<form class="container-center loose">
    <mat-card class="card-terms">
      <iframe width="900px" style="height: 95vh" src="https://app.termly.io/document/terms-of-use-for-website/bf514bf4-f102-46da-9da9-dfc8fe925ffc" frameborder="0" allowfullscreen>
        <p>Your browser does not support iframes.</p>
      </iframe>
    </mat-card>
    <div class="container-center actions-container">
      <mat-checkbox (change)="onCheck($event)">
        <h3>By checking this box I agree to the Terms of Use.</h3>
      </mat-checkbox>
    </div>
</form>
