<mat-tab-group mat-stretch-tabs #tabGroup>
  <mat-tab label="1. About Us">
    <app-about-us></app-about-us>
    <div class="container-submit">
      <button
        mat-raised-button color="primary"
        (click)="onNext(1)"
      >
        Next
      </button>
    </div>
  </mat-tab>
  <mat-tab
    label="2. Your Organization"
    [disabled]="(state$ | async)?.maxEnabledStep < 1"
  >
    <app-organization-form
      (validOrganization)="onValidOrganization($event)"
      [title]="organizationFormTitle">
    </app-organization-form>
    <div class="container-submit">
      <button
        mat-raised-button
        color="primary"
        (click)="onNext(2)"
        [disabled]="(state$ | async)?.maxEnabledStep < 1"
      >
        Next
      </button>
    </div>
  </mat-tab>
  <mat-tab
    label="3. Your Account"
    [disabled]="(state$ | async)?.maxEnabledStep < 2"
  >
    <app-user-form
      (validUser)="onValidUser($event)"
      [title]="userFormTitle"
      [passwordRequired]="true"
    >
    </app-user-form>
    <div class="container-submit">
      <button
        mat-raised-button
        color="primary"
        (click)="onNext(3)"
        [disabled]="!(state$ | async)?.validUser"
      >
        Next
      </button>
    </div>
  </mat-tab>
  <mat-tab
    label="4. Services Agreement"
    [disabled]="(state$ | async)?.maxEnabledStep < 3"
  >
    <div class="container-center loose">
      <app-services-agreement [showTitle]="true"></app-services-agreement>
    </div>
    <div class="container-center actions-container">
      <mat-checkbox (change)="onCheckTos($event)">
        <div>By checking this box I agree to the Services Agreement.</div>
      </mat-checkbox>
    </div>
    <div class="container-submit">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!isTosChecked"
        (click)="onNext(4)"
      >
        Next
      </button>
    </div>
  </mat-tab>
  <mat-tab
    label="5. Confirm"
    [disabled]="(state$ | async)?.maxEnabledStep < 4"
  >
    <app-organization-confirm
      [organization]="(state$ | async)?.validOrganization"
      [user]="(state$ | async)?.validUser"
    >
    </app-organization-confirm>
    <div class="container-submit">
      <button
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
