:host {
  height: 100%;
  display: grid;
  align-items: center;
}

.mat-tab-group {
  height: 350px;
  width: 450px;
}

/deep/ .mat-tab-body-content {
  margin: 0 2rem;
}

.mat-card {
  padding: 0;
}

.gray {
  color: lightslategray;
}
