:host {
  height: 100%;
  display: grid;
  align-items: center;
}

.mat-tab-group {
  height: 370px;
  width: 450px;
}

.mat-card {
  padding: 0;
}

.gray {
  color: lightslategray;
}

.team-search-header {
  margin: 1.5rem;
}
