<mat-toolbar class="data-table-header">
  <button mat-button class="data-table-header__button" [disabled]="validVisitsEdited.length === 0 || invalidVisitsEdited.length !== 0" color="accent" (click)="onUpdateVisits(validVisitsEdited)">Save</button>
</mat-toolbar>
<app-data-table
  [data$]="visitsWithVolunteers$"
  [validItemsEdited]="validVisitsEdited"
  [invalidItemsEdited]="invalidVisitsEdited"
  [columnOptions]="columnOptions"
  [getCellFontColor]="getCellFontColor"
  [getCellFontWeight]="getCellFontWeight"
  (updateItem)="onUpdateVisit($event)">
</app-data-table>
