<form class="container-center grid grid--row-gap" [formGroup]="formGroup" (ngSubmit)="submit()">
  <h2>Sign up here for your first visit.</h2>
  <div class="container-center">
    <mat-list>
      <mat-list-item *ngFor="let form of forms">
        <mat-form-field>
          <input class="capitalize" matInput formControlName={{form.control}} placeholder={{form.placeholder}}>
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="container-center policy-agreement">
    <mat-checkbox (change)="setPolicyCheckBox($event)"></mat-checkbox>
    <p class="policy-agreement__pre-link">
      I agree to the <span class="policy-agreement__policy-link" on-click="openServicesAgreementDialog()">Services Agreement</span>.
    </p>
  </div>
  <div class="container-center">
    <button
      class="button button--margin button--wide"
      type="submit"
      color="primary"
      mat-raised-button
      matStepperNext
      [disabled]="formGroup.invalid || !isPolicyChecked">Submit
    </button>
  </div>
</form>
