<div class="container-center loose">
  <h1>Please confirm your details.</h1>
  <div class="container-inline">
    <mat-list *ngIf="organization">
      <h1 matSubheader>Organization</h1>
      <mat-list-item>
        <mat-icon mat-list-icon>business</mat-icon>
        <h3 matLine>{{organization.name}}</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>language</mat-icon>
        <h3 matLine>{{organization.website}}</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>sort</mat-icon>
        <h3 matLine>{{organization.description}}</h3>
      </mat-list-item>
    </mat-list>
    <mat-list *ngIf="email && member">
      <h1 matSubheader>User</h1>
      <mat-list-item>
        <mat-icon mat-list-icon>perm_identity</mat-icon>
        <h3 matLine>{{member.firstName}} {{member.lastName}}</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>mail_outline</mat-icon>
        <h3 matLine>{{email}}</h3>
      </mat-list-item>
    </mat-list>
  </div>
</div>
