@import '~normalize.css/normalize.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

$mat-paginator-height: 56px;
$mat-tab-bar-height: 64px;
$mat-toolbar-height-desktop: 64px;
$mat-toolbar-height-mobile: 56px;
$mat-toolbars-height-desktop: calc(#{$mat-toolbar-height-desktop} * 2);
$mat-toolbars-height-mobile: calc(#{$mat-toolbar-height-mobile} * 2);

html, body {
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

p {
  font-weight: 400;
  line-height: 1.5;
}

.center-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

input.capitalize {
  text-transform: capitalize;
}

.icon-image {
  font-size: 10rem;
  text-align: center;
  color: mediumaquamarine;
}

.header-spacing {
  padding-top: 4rem;
}

.button {
  &.button--large {
    height: 4rem;
    width: 20rem;
    font-size: large;
  }

  &.button--wide {
    width: 10rem;
  }

  &.button--margin {
    margin: 1rem;
  }
}

.wrapper {
  max-width: 940px;
  padding: 0 20px;
  margin: 0 auto 40px;
}

.grid {
  display: grid;

  &.grid--row-gap {
    grid-row-gap: 1rem;
  }

  &.grid--center {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &.grid--inline {
    grid-auto-flow: column;
    grid-gap: 0.5rem;
  }

  &.grid--submit {
    justify-items: end;
    margin: 2rem;
  }

  .grid__left {
    justify-self: start;
  }

  .grid__right {
    justify-self: end;
  }
}

.margin {
  margin: 27px;
}

.actions-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  grid-column-gap: 0.5rem;
  margin-top: 1rem;
}

.input-container {
  display: grid;
  max-width: 300px;
  margin: auto;

  .input-container__row {
    justify-self: stretch;
  }
}

.dialog {
  max-width: 490px;
}

.subtitle {
  margin-top: -4px;
  margin-bottom: 16px;
  font-size: 14px;
  color: rgba(0,0,0,.54)
}

// TODO: Delete these in favor of BEM classes

.container-center {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.container-inline {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
}

.container-submit {
  display: grid;
  justify-items: end;
  margin: 2rem;
}

.loose {
  margin-top: 1rem;
  grid-row-gap: 1rem;
}

.text-center {
  text-align: center;
}

.input-row {
  justify-self: center;
  width: 368px;
  max-width: calc(100%);
}

.hide-xs {
  @media ($mat-xsmall) {
    display: none !important;
  }
}

.show-xs {
  display: none !important;
  @media ($mat-xsmall) {
    display: block !important;
  }
}

/deep/ {

  .mat-tab-group {
    height: 100%;
    max-width: 100vw;
  }

  .mat-tab-body-wrapper {
    height: 100%;
  }

  .mat-tab-header-pagination-controls-enabled.mat-tab-header-pagination {
    display: none !important;
  }
}

.data-table-header {
  display: flex;
  background-color: whitesmoke;
  border-bottom-style: solid;
  border-bottom-width: .5px;
  border-bottom-color: rgba(0,0,0,.12);
}

.data-table-header__button {
  height: 70%;
}

