@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$mat-paginator-height: 56px;
$mat-tab-bar-height: 48px;
$mat-toolbar-height-desktop: 64px;
$mat-toolbar-height-mobile: 56px;
$mat-toolbars-height-desktop: calc(#{$mat-toolbar-height-desktop} * 2);
$mat-toolbars-height-mobile: calc(#{$mat-toolbar-height-mobile} * 2);

html, body {
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}

h1 {
  font-weight: lighter;
  letter-spacing: 1px;
}

h2, h3, h4 {
  font-weight: 200;
  letter-spacing: 1px;
}

input.capitalize {
  text-transform: capitalize;
}
