/deep/ {

  .mat-horizontal-stepper-header-container {
    max-width: 30rem;
    margin: auto;
  }

  .mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: #fafafa;
  }
}

.container {
  height: 100%;
}

.container__policy-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.start-container {
  margin-top: 2rem;
}
