<mat-horizontal-stepper #stepper>
  <!--Is existing volunteer-->
  <mat-step>
    <div class="container-center loose">
      <button on-click="onIsExistingVolunteer(false)" mat-raised-button color="accent">I am a new volunteer.</button>
      <button on-click="onIsExistingVolunteer(true)" mat-raised-button color="accent">I am an existing volunteer.</button>
    </div>
  </mat-step>
  <!--New volunteer form-->
  <mat-step>
    <ng-template matStepLabel>New Volunteer</ng-template>
    <div>
      <app-new-volunteer-form
        [organizationId]="organizationId"
        (newVolunteer)="onNewVolunteer($event)">
      </app-new-volunteer-form>
    </div>
  </mat-step>
  <!--Check in/out form-->
  <mat-step>
    <ng-template matStepLabel>{{checkInOutStepperTitle}}</ng-template>
    <div>
      <app-check-in-form
        [title]="checkInOutFormTitle"
        [organizationId]="organizationId"
        [siteId]="siteId"
        [visits]="visits"
        [volunteers]="volunteers"
        (checkIn)="onCheckIn($event)"
        (checkOut)="onCheckOut($event)">
      </app-check-in-form>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<button mat-fab on-click="onOpenPolicyDialog()">Policy</button>
