/deep/ {

  .mat-horizontal-stepper-header-container {
    max-width: 30rem;
    margin: auto;
  }

  .mat-stepper-horizontal, .mat-stepper-vertical {
    height: 100%;
    background-color: #fafafa;
  }
}
