/deep/ {

  .mat-horizontal-stepper-header-container {
    max-width: 30rem;
    margin: auto;
  }

  .mat-stepper-horizontal, .mat-stepper-vertical {
    height: 85%;
    background-color: #fafafa;
  }
}

.container {
  height: 100%;
}

.container__policy-button {
  margin: 15px;
  float: right;
}
