<form fxFlex
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="1rem"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()">
  <h1 class="text-container" fxFlex="0 1 auto">Tell us about your organization.</h1>
  <md-form-field class="input-container" fxFlex="0 1 auto">
    <input mdInput class="capitalize" placeholder="Organization name" formControlName="name">
  </md-form-field>
  <md-form-field class="input-container" fxFlex="0 1 auto">
    <input mdInput placeholder="Website" formControlName="website">
  </md-form-field>
  <md-form-field class="input-container" fxFlex="0 1 auto">
    <textarea mdInput placeholder="Short description" formControlName="description"></textarea>
  </md-form-field>
</form>
